Source: ruby-d3-rails
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: Balasankar C <balasankarc@autistici.org>
Build-Depends: debhelper (>= 7.0.50~), gem2deb
Standards-Version: 3.9.5
Vcs-Git: git://anonscm.debian.org/pkg-ruby-extras/ruby-d3-rails.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-ruby-extras/ruby-d3-rails.git;a=summary
Homepage: https://github.com/logical42/d3_rails
Testsuite: autopkgtest
XS-Ruby-Versions: all

Package: ruby-d3-rails
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter
# railties (>= 3.1.0), bundler (>= 1.0.0, development), rails (>= 3.1, development), pry (>= 0, development)
Description: D3 automated install for Rails 3.1+
 Gem installation of javascript framework for data visualization, D3
